/EJBRemoteInterface/nbproject/private/
/EJBRemoteInterface2/nbproject/private/
/ EntAppEJB2/nbproject/private/
/ EntAppEJB2/EntAppEJB2-ejb/nbproject/private/
/ EntAppEJB2/EntAppEJB2-ejb/build/
/ EntAppEJB2/build/
/EJBRemoteInterface2/build/
/EJBRemoteInterface2/dist/
/ EntAppEJB2/EntAppEJB2-ejb/dist/
/ EntAppEJB2/dist/
/EntAppClient/nbproject/private/
/EntAppClient/EntAppClient-war/nbproject/private/
/EntAppClient/EntAppClient-ejb/nbproject/private/
/EntAppClient/dist/
/EntAppClient/build/
/NewsApp/nbproject/private/
/NewsApp/NewsApp-war/nbproject/private/
/NewsApp/NewsApp-ejb/nbproject/private/
/NewsApp/NewsApp-ejb/build/
/NewsApp/NewsApp-war/build/
/NewsApp/build/
/NewsApp/NewsApp-ejb/dist/
/NewsApp/NewsApp-war/dist/
/NewsApp/dist/
/SayHelloInterface/nbproject/private/
/SayHelloClient/nbproject/private/
/SayHelloEJB/nbproject/private/
/SayHelloEJB/SayHelloEJB-ejb/nbproject/private/
/SayHelloInterface/build/
/SayHelloClient/build/
/SayHelloEJB/SayHelloEJB-ejb/build/
/SayHelloEJB/build/
/SayHelloEJB/SayHelloEJB-ejb/dist/
/SayHelloInterface/dist/
/SayHelloEJB/dist/
/Test/nbproject/private/
/Test/Test-war/nbproject/private/
/Test/Test-ejb/nbproject/private/
/Test/Test-ejb/build/
/Test/Test-war/build/
/Test/build/
/Test/Test-ejb/dist/
/Test/Test-war/dist/
/Shout-Interface/nbproject/private/
/Shout-GUI-Client/nbproject/private/
/Shout/nbproject/private/
/Shout/Shout-war/nbproject/private/
/Shout/Shout-ejb/nbproject/private/
/Shout/Shout-ejb/build/
/Shout/Shout-war/build/
/Shout/build/
/Shout/Shout-ejb/dist/
/Shout/Shout-war/dist/
/Shout-Interface/build/
/Shout-Interface/dist/
/Shout/dist/
/Shout-GUI-Client/build/
/Shout-GUI-Client/dist/